# OSX 
.DS_Store

# built binary to publish
bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

local/
outputs/
inttest/

build/tests

cmdlog.txt
cmds.log
envfile

.env

projects/

# Ignore the swagger docs, these will need to be generated on each build
pkg/api/docs
